#map {
    height: 75vh;
    width: 100vw; 
}

h1 { 
    color: #178150;
    font-family: Century Gothic;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
}

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.logos-container img {
    max-width: 200px; /* Ajusta según sea necesario */
    height: auto;
    display: block;
}

select {
    margin-bottom: 10px;
    margin-left: 20px;
    border-color: #000000;
    border-radius: 10px;
    border-width: 1px;
    padding: 3px;
    font-family: Century Gothic;
    font-size: 13px;
}

.legend {
    padding: 2px;
    font-size: 14px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 0 0 15px rgba(244, 236, 236, 0.2);
    font-family: Century Gothic;
    text-align: left;
    font-size: 12px;
}

.legend-item {
    margin-bottom: 9px;
    font-family: Century Gothic;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.boton-pdf {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    border-width: 2px;
    font-family: Century Gothic;
    text-align: left;
    font-size: 12px;
}

  